.details-box h2,
p {
  font-size: 1rem;
}

.intro {
  margin-top: 50px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-buttons {
  background-color: rgb(38, 208, 75);
}

.review-box {
  margin: 0 auto;
  max-width: 1000px;
  padding: 60px 0;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 auto;
  align-items: flex-start;
  padding-bottom: 20px;
}

.message-only-color {
  color: gainsboro;
  font-size: 0.9rem;
}

.info-message {
  color: rgb(119, 0, 255);
  font-weight: 300;
  height: 5px;
  margin-top: 30px;
  padding-top: 30px;
}

.main-details-style {
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.movieID-code {
  color: rgb(38, 208, 75);
}

.main-details-style-video {
  padding-top: 45px;
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.main-details-style-video h2 {
  padding-bottom: 15px;
}

.render-btns {
  margin-top: 0;
}

.main-details-style-reviews {
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  color: gainsboro;
  font-size: 0.6rem;
}

.link:hover {
  color: rgb(0, 138, 0);
  font-size: 0.6rem;
}

.list-unstyled h5 {
  color: rgb(38, 208, 75);
  font-size: 0.9rem;
}

.list-unstyled p {
  color: gainsboro;
  font-size: 0.9rem;
}

.date {
  font-style: oblique;
  font-size: 0.8rem;
}

.formGridAddress2 {
  margin-top: 0%;
}

.info-message-review {
  margin-top: 0;
  color: rgb(119, 0, 255);
}

.text-gainsboro {
  color: gainsboro;
}

.review-section {
  display: flex;
  flex-direction: column;
}
