.details-box{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 1000px;

}

.details-basic-info-container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;

}

.details-basic-info-container img{
    max-width: 70%;
	height: auto;  
}

.details-box h2, p{
    font-size: 1rem;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.bg-buttons {
    background-color: rgb(38, 208, 75);
  }


  .info-message{
    margin: 0 auto;
    max-width: 1000px;
    color: rgb(119, 0, 255);
    font-weight: 300;
    height: 5px;

}

.review-box{
    margin: 0 auto;
      max-width: 1000px;
      padding: 60px 0;


}

.accordion-reviews{
    min-height: 100vh}

