@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto&display=swap");

.tester {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.imagen {
  width: 300px;
  height: auto;
}

.details-basic-info-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.movie-box {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.movie-box-home {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.intro-home {
  padding-top: 20px;
}

.jumbotron {
  background-color: rgba(187, 2, 2, 0.589) !important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  color: white;
  margin-bottom: 10px;
  max-width: 1000;
  -webkit-border-radius: 7px 0px 7px 0px;
  -moz-border-radius: 7px 0px 7px 0px;
  border-radius: 7px 0px 7px 0px;
  font-family: "Julius Sans One", sans-serif;
}

.movie-box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media (min-width: 30px) {
  .jumbotron h1 {
    font-size: 2em;
    
  }
  .imagen {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 460px) {
  .jumbotron h1 {
    font-size: 3em;
  }
  .imagen{
    width: 300px;
    height: auto;
  }
  
}


@media (min-width: 992px) {
  .jumbotron h1 {
    font-size: 3em;
  }
  .imagen{
    width: 300px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 3em;
  }
  .imagen{
    width: 300px;
    height: auto;
  }
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.captions-home {
  border: 0px solid black;
  background-color: rgba(36, 22, 22, 0.651);
  -webkit-border-radius: 7px 0px 7px 0px;
  -moz-border-radius: 7px 0px 7px 0px;
  border-radius: 7px 0px 7px 0px;
}

.star {
  width: 12px;
  height: 12px;
}

.link-home {
  color: gainsboro;
  font-size: 0.9rem;
}

.link-home:hover {
  color: gainsboro;
}
