.movie-box{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 1200px;

}

/* .details-box img{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 1200px;

} */

.details-basic-info-container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;

}

.posters-style{
    max-width: 100%;
	height: auto;    
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
  width: 100%;
}

body {
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}


.jumbotron { 
    background-color:rgba(253, 59, 59, 0.589) !important;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: auto;
   
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    
 } 

 .movie-box > div{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;
 }

 @media (min-width: 30px) {
    .jumbotron h1 {
        font-size: 1em;
    }
}


@media (min-width: 767px) {
    .jumbotron h1 {
        font-size: 2em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron h1 {
        font-size: 3em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 4em;
    }
} 