.wellcome-user {
  color: white;
}

.bg-navbar {
  background-color: rgb(109, 38, 208);
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  width: inherit;
}

.navbar-wrapper .navbar .navbarwidth {
  width: 100% !important;
}

.navbar-inverse {
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0;
}

.navbar-inverse .nav > li > a {
  color: #ffffff;
}

.navbar-inverse .nav > li > a:hover {
  background: none;
}

.navbar-brand a {
  color: #ffffff;
}

.main-header-background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("http://www.riwakawebsitedesigns.com/external/images/stars/img-stars-2.jpg");
  height: 620px;
  width: 100%;
  margin-bottom: 60px;
}

.nav-links {
  display: inline-block;
  height: 20px;
  background-color: white; 
  color: green;
}

.nav-links:hover {
  background-color: green; 
  color: white; 
}
